.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.Movie-wrapper {
  width: 500px;
  background-color: whitesmoke;
  color: gray;
  border-radius: 10px;
}

.Movie-search {
  height: 35px;
  font-size: 20px;
  margin-bottom: 40px;
}

.Movie-rate {
  color: rgb(255, 109, 109);
  font-weight: bold;
}

.Movie-image {
  max-width: 400px;
  min-width: fit-content;
}

.overview {
  font-size: 20px;
  margin: 20px;
}
